{{#push "stylesheets"}}
<link rel="stylesheet" href="/app.css"/>
{{/push}}

<h1>Lewis White</h1>
<p>Web Application Developer<br>
Bristol, UK</p>

{{#push "scripts"}}
<script>console.info(+new Date);</script>
{{/push}}