<!doctype html>
<html>
<head>
    <title>My test blog</title>
    <meta charset="utf8">
    {{{stack "stylesheets"}}}
</head>
<body>
    <main>
        {{{body}}}
    </main>
    {{{stack "scripts"}}}
</body>
</html>