*{
    box-sizing:border-box;
    /*outline:1px solid rgba(255,0,85,0.1);*/
}
html{
    font:20px/24px Georgia, 'Times New Roman', 'Liberation Serif';
    background:#757;
}
body{
    margin:0;
    padding-top:2rem;
}
main{
    max-width:32rem;
    padding:1rem;
    margin:2rem auto;

}
h1{
    margin:0;
    padding:0;
    font-size:2rem;
    color:#df0;
}
p{
    margin:0;
    color:#df0;
}
main>*+*{
    margin-top:1rem;
}
